[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==18.9b0"
responses = "*"
requests = "*"
pre-commit = "*"
django = "*"
shopifyapi = "==4.0.0"
django-shopify-auth = "*"

[requires]
python_version = "3.7"
