[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.10b0"
responses = "*"
requests = "*"
pre-commit = "*"
django = "*"
shopifyapi = "*"
django-shopify-auth = "*"
elastic-apm = "*"
django-rq = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python test.py"
