{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">

  {% if user.is_authenticated %}
    {% if  "@" in user.myshopify_domain %}
      <p class="errornote">
        Thanks {{user.myshopify_domain}}! Now please ask Josef to activate your account.
      </p>
    {% else %}
      <p class="errornote">
        Sorry. You're currently logged in as {{user.myshopify_domain}}. Please Logout and try again.
      </p>
      <form method="POST" action="{% url 'auth:disconnect' %}">
        {% csrf_token %}
        <button class="button">Logout</button>
      </form>
    {% endif %}
  {% else %}
    <a href="{% url 'auth:social:begin' 'auth0' %}" class="button">Login</a>
  {% endif %}

</div>
{% endblock %}