{% extends "admin/base_site.html" %}

{% block content_title %}<h1>Script management</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url "admin:console_authappshopuser_change" shop_id %}">Back to the store</a>
  &nbsp;
  &nbsp;
  <a href="{% url "backoffice-common:theme-liquid" %}?shop_id={{shop_id}}" target="_blank">Open theme.liquid</a>
  &nbsp;
  &nbsp;
  <a href="{% url "backoffice-common:configuration" %}?shop_id={{shop_id}}">Open Configuration</a>
</div>
{% endblock %}

{% block content %}

<div id="content-main">
  <pre>
    {{ snippet|default:"snippet is empty" }}
  </pre>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="shop_id" value="{{shop_id}}" />

    <h3>Theme script</h3>

    <input type="submit" value="Use DocumentListener button mode" name="_document_listener" {% if script_installed %}disabled{% endif %}>

    <input type="submit" value="Use cloning button mode" name="_cloning" {% if script_installed %}disabled{% endif %}>

    <input type="submit" value="Remove from theme" name="_clear" style="background: #ba2121;" {% if not snippet %}disabled{% endif %}>

    <h3>Script Tag</h3>

    {% if script_installed %}
    <input type="submit" value="Deactivate script" name="_deactivate_script_tag" style="background: #ba2121;">
    {% else %}
    <input type="submit" value="Activate script" name="_activate_script_tag" {% if snippet %}disabled{% endif %}>
    {% endif %}
  </form>
</div>
<style>
  input:disabled {
    cursor: default;
  }
</style>

{% endblock %}
