<link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.0.0/polaris.min.css" />

<div class="Polaris-EmptyState">
    <div class="Polaris-EmptyState__Section">
        <div class="Polaris-EmptyState__DetailsContainer">
            <div class="Polaris-EmptyState__Details">
                <div class="Polaris-TextContainer">
                    <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">{{SHOPIFY_APP_NAME}}</p>
                    <div class="Polaris-EmptyState__Content">
                        <p>
                            {% if token %}
                            {{SHOPIFY_APP_NAME}} will be installed to your store <strong>{{token.shop}}</strong> with monthly subscription of <strong>{{token.price}} USD</strong> and trial period of <strong>{{token.trial_days}}</strong> days.
                            {% else %}
                            This discount link is not valid.
                            {% endif %}
                        </p>
                        {% if active_subscription %}
                            <p>This will replace your existing subscription.</p>
                        {% endif %}
                    </div>
                </div>
                {% if token %}
                <div class="Polaris-EmptyState__Actions">
                    {% if active_subscription %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="Polaris-ButtonGroup">
                            <div class="Polaris-ButtonGroup__Item">
                                <button type="submit" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge ">
                                    <span class="Polaris-Button__Content">
                                        <span>Activate new subscription</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <form method="POST" action="{{login_url}}">
                        {% csrf_token %}
                        <input id="shop" name="shop" type="hidden" value="{{token.shop}}" />
                        <div class="Polaris-ButtonGroup">
                            <div class="Polaris-ButtonGroup__Item">
                                <button type="submit" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge ">
                                    <span class="Polaris-Button__Content">
                                        <span>Install</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>